@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

@font-face {
  font-family: Modam;
  src: url(../public/fonts/Modam-Regular.ttf);
}

@theme {
  --font-modam : Modam
}